nav{
   background-color: rgb(150, 156, 154);
}
a{
    color: #444;
    text-decoration: none;
}
nav ul{
    
    padding-left: 0px;
    text-align: center;
}
body{
    padding: 0px 40px;
}
h3{
    border-bottom: 1px solid #444;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav li{
    list-style: none;
    display: inline-block;

    border-bottom: 2px solid #444;
    margin: 15px 20px;
    font-size: 20px;
    text-transform: uppercase;
}